
                    <div class="modal-body">
                        <p>System account balances.</p>
                        
                        <div class="row gy-4">
                            <div class="col-md-12">
                                <div class="card border-top border-primary mb-4">
                                    <div class="nk-ecwg nk-ecwg6">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">Africa's Talking </h6>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="data-group">
                                                    <div class="amount">{{ $smsbalance }}</div>
                                                </div>
                                                <div class="info"><span class="change text-success"><em class="icon ni ni-check-circle-cut"></em></span><span> Bulk SMS balance.</span></div>
                                            </div>
                                        </div><!-- .card-inner -->
                                    </div><!-- .nk-ecwg -->
                                </div><!-- .card -->
                            </div><!-- .col -->
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button class="btn btn-white btn-dim btn-outline-light" type="button" data-dismiss="modal"><em class="icon ni ni-cross-circle"></em><span>Cancel</span></button>
                    </div>
