
    <script src="{{ asset('assets/js/bundle.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
    <script src="{{ asset('assets/js/simcify.min.js') }}"></script>
    <script src="{{ asset('assets/js/intlTelInput.min.js') }}"></script>
    <script src="{{ asset('assets/js/asilify.js') }}"></script>
    
    <script src="{{ asset('assets/libs/jcanvas/jcanvas.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jcanvas/cardiagram.min.js') }}"></script>