@include('includes/head')

<body class="nk-body bg-lighter npc-default has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            @include('includes/sidebar')
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                @include('includes/header')
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            
                                            <h3 class="nk-block-title page-title">{{ $title }}</h3>
                                            <div class="nk-block-des text-soft">
                                                @if(is_null($campaign))
                                                <p>A list of SMS sent.</p>
                                                @else
                                                <p>Campaigns messages sent.</p>
                                                @endif
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li>
                                                            <a href="{{ url('Marketing@get') }}" class="btn btn-outline-light bg-white d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                                                        </li>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- .toggle-wrap -->
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="card card-stretch">
                                        <div class="card-inner">
                                            <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                                <thead>
                                                    <tr class="nk-tb-item nk-tb-head">
                                                        <th class="nk-tb-col text-center">#</th>
                                                        <th class="nk-tb-col"><span class="sub-text">Sent To</span></th>
                                                        <th class="nk-tb-col tb-col-md"><span class="sub-text">Message</span></th>
                                                        <th class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></th>
                                                        <th class="nk-tb-col nk-tb-col-tools text-right">
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                @if(!empty($messages))
                                                @foreach($messages as $index => $message)
                                                <tr class="nk-tb-item">
                                                    <td class="nk-tb-col text-center">{{ $index + 1 }}</td>
                                                    <td class="nk-tb-col">
                                                        <div class="user-card">
                                                            <div class="user-info">
                                                                <span class="tb-lead">{{ $message->name }} {{ $message->phonenumber }}</span>
                                                                <small class="text-muted">{{ date("F j, Y H:i", strtotime($message->created_at)) }}</small>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="nk-tb-col tb-col-md">
                                                        <span class="tb-amount">{{ nl2br($message->message) }}</span>
                                                    </td>
                                                    <td class="nk-tb-col tb-col-md">
                                                        @if($message->status == "Sent")
                                                        <span class="badge badge-sm badge-dot has-bg badge-success d-mb-inline-flex">Sent</span>
                                                        @elseif($message->status == "Queued")
                                                        <span class="badge badge-sm badge-dot has-bg badge-primary d-mb-inline-flex">Queued</span>
                                                        @else
                                                        <span class="badge badge-sm badge-dot has-bg badge-danger d-mb-inline-flex">Failed</span>
                                                        @endif
                                                    </td>
                                                    <td class="nk-tb-col nk-tb-col-tools">
                                                        <ul class="nk-tb-actions gx-1">
                                                            <li>
                                                                <div class="drodown">
                                                                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <ul class="link-list-opt no-bdr">
                                                                        @if($message->status == "Failed")
                                                                        <li><a class="send-to-server-click"  data="messageid:{{ $message->id }}" url="{{ url('Marketing@resend') }}" href=""><em class="icon ni ni-repeat"></em><span>Resend</span></a></li>
                                                                        @endif
                                                                        @if($user->role == "Owner")
                                                                        <li><a class="send-to-server-click"  data="messageid:{{ $message->id }}" url="{{ url('Marketing@deletemessage') }}" warning-title="Are you sure?" warning-message="This message will be deleted permanently." warning-button="Yes, delete!" href=""><em class="icon ni ni-trash"></em><span>Delete Message</span></a></li>
                                                                        @endif
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr><!-- .nk-tb-item  -->
                                                @endforeach
                                                @else
                                                <tr>
                                                    <td class="text-center" colspan="7">It's empty here!</td>
                                                </tr>
                                                @endif
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                @include('includes/footer')
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>

    <!-- Modal add payment -->
    <div class="modal fade" tabindex="-1" id="create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-header">
                    <h5 class="modal-title">Create Campaign</h5>
                </div>
                <form class="simcy-form" action="{{ url('Marketing@create') }}" data-parsley-validate="" method="POST" loader="true">
                    <div class="modal-body">
                        <p>Create a campaign</p>
                        <div class="row gy-4">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Campaign Title</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control form-control-lg" placeholder="Campaign Title" name="title" required="">
                                    </div>
                                    <div class="form-note">This will not be shown to customers.</div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Send To</label>
                                    <div class="form-control-wrap ">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg" name="sendto" required="">
                                                <option value="">Select</option>
                                                <option value="clients">All Clients</option>
                                                <option value="selectedclients">Selected Clients</option>
                                                <option value="members">All Team Members</option>
                                                <option value="selectedmembers">Selected Team Members</option>
                                                <option value="enternumber">Enter Number Manually</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 campaign-sendto" data-type="clients" style="display: none;">
                                <div class="form-group">
                                    <label class="form-label">Select Clients</label>
                                    <div class="form-control-wrap ">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg select2" name="clients[]" multiple="">
                                                @if(!empty($clients))
                                                @foreach($clients as $client)
                                                <option value="{{ $client->id }}">{{ $client->fullname }}</option>
                                                @endforeach
                                                @endif
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 campaign-sendto" data-type="members" style="display: none;">
                                <div class="form-group">
                                    <label class="form-label">Select Team Members</label>
                                    <div class="form-control-wrap ">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg select2" name="members[]" multiple="">
                                                @if(!empty($members))
                                                @foreach($members as $member)
                                                <option value="{{ $member->id }}">{{ $member->fname }} {{ $member->lname }}</option>
                                                @endforeach
                                                @endif
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 campaign-sendto" data-type="manually" style="display: none;">
                                <div class="form-group">
                                    <label class="form-label">Enter Number Manually</label>
                                    <div class="form-control-wrap ">
                                        <div class="form-control-select">
                                            <input type="text" class="form-control form-control-lg phone-input" placeholder="Phone Number">
                                            <input class="hidden-phone" type="hidden" name="phonenumber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Message</label>
                                    <div class="form-control-wrap">
                                        <textarea class="form-control form-control-lg" placeholder="Message" rows="3" name="message" required=""></textarea>
                                    </div>
                                    <div class="form-note">We'll include your company name <strong>{{ $user->parent->name }}</strong> at the end of every message.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button class="btn btn-white btn-dim btn-outline-light" type="button" data-dismiss="modal"><em class="icon ni ni-cross-circle"></em><span>Cancel</span></button>
                        <button class="btn btn-primary" type="submit"><em class="icon ni ni-check-circle-cut"></em><span>Send Campaign</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- app-root @e -->
    <!-- JavaScript -->
    @include('includes/scripts')

</body>

</html>