@include('includes/head')

<body class="nk-body bg-lighter npc-default has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            @include('includes/sidebar')
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                @include('includes/header')
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Team Members</h3>
                                            <div class="nk-block-des text-soft">
                                                @if(!empty($members))
                                                <p>A total of {{ number_format(count($members)) }} team members.</p>
                                                @else
                                                <p>Create and manage your team here.</p>
                                                @endif
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li><a href="" class="btn btn-primary"  data-toggle="modal" data-target="#create"><em class="icon ni ni-plus"></em><span>Create Member</span></a></li>
                                                    </ul>
                                                </div>
                                            </div><!-- .toggle-wrap -->
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="card card-stretch">
                                        <div class="card-inner">
                                            <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                                <thead>
                                                    <tr class="nk-tb-item nk-tb-head">
                                                        <th class="nk-tb-col text-center">#</th>
                                                        <th class="nk-tb-col"><span class="sub-text">Member</span></th>
                                                        <th class="nk-tb-col tb-col-md"><span class="sub-text">Role</span></th>
                                                        <th class="nk-tb-col tb-col-md"><span class="sub-text">Balance</span></th>
                                                        <th class="nk-tb-col tb-col-md text-center">
                                                            <span class="sub-text" data-toggle="tooltip" title="Tasks In Progress">
                                                                P. Tasks <em class="icon ni ni-info-fill"></em>
                                                            </span>
                                                        </th>
                                                        <th class="nk-tb-col tb-col-md"><span class="sub-text">Created On</span></th>
                                                        <th class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></th>
                                                        <th class="nk-tb-col nk-tb-col-tools text-right">
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if(!empty($members))
                                                    @foreach($members as $index => $member)
                                                    <tr class="nk-tb-item">
                                                        <td class="nk-tb-col text-center">{{ $index + 1 }}</td>
                                                        <td class="nk-tb-col">
                                                            <div class="user-card">
                                                                <div class="user-avatar bg-dim-primary d-none d-sm-flex">
                                                                    <span>{{ mb_substr($member->fname, 0, 2, "UTF-8") }}</span>
                                                                </div>
                                                                <div class="user-info">
                                                                    <span class="tb-lead">{{ $member->fname }} {{ $member->lname }} <span class="dot dot-success d-md-none ml-1"></span></span>
                                                                    <span>{{ $member->phonenumber }}</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="nk-tb-col tb-col-mb">
                                                            @if($member->role == "Owner")
                                                            <span class="badge badge-sm badge-dot has-bg badge-success d-mb-inline-flex">Owner</span>
                                                            @elseif($member->role == "Manager")
                                                            <span class="badge badge-sm badge-dot has-bg badge-primary d-mb-inline-flex">Manager</span>
                                                            @elseif($member->role == "Inventory Manager")
                                                            <span class="badge badge-sm badge-dot has-bg badge-danger d-mb-inline-flex">Inventory Manager</span>
                                                            @elseif($member->role == "Booking Manager")
                                                            <span class="badge badge-sm badge-dot has-bg badge-secondary d-mb-inline-flex">Booking Manager</span>
                                                            @else
                                                            <span class="badge badge-sm badge-dot has-bg badge-warning d-mb-inline-flex">Staff</span>
                                                            @endif
                                                        </td>
                                                        <td class="nk-tb-col tb-col-mb" data-order="{{ $member->balance }}">
                                                            <span class="tb-amount">{{ money($member->balance, $user->parent->currency) }} </span>
                                                        </td>
                                                        <td class="nk-tb-col tb-col-md text-center">
                                                            <span>{{ $member->pending_tasks }} / {{ $member->total_tasks }}</span>
                                                        </td>
                                                        <td class="nk-tb-col tb-col-md">
                                                            <span>{{ date("F j, Y", strtotime($member->created_at)) }}</span>
                                                        </td>
                                                        <td class="nk-tb-col tb-col-md">
                                                            @if($member->status == "Active")
                                                            <span class="text-success">Active</span>
                                                            @elseif($member->status == "On Leave")
                                                            <span class="text-warning">On Leave</span>
                                                            @else
                                                            <span class="text-danger">Unavailable</span>
                                                            @endif
                                                        </td>
                                                        <td class="nk-tb-col nk-tb-col-tools">
                                                            <ul class="nk-tb-actions gx-1">
                                                                <li>
                                                                    <div class="drodown">
                                                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                            <ul class="link-list-opt no-bdr">
                                                                                <li><a href="{{ url('Team@details', array('teamid' => $member->id)) }}"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                                                <li><a class="fetch-display-click" data="teamid:{{ $member->id }}" url="{{ url('Team@updateview') }}" holder=".update-holder" modal="#update" href=""><em class="icon ni ni-pen"></em><span>Edit Details</span></a></li>
                                                                                <li><a href="" class="send-sms" data-phonenumber="{{ $member->phonenumber }}" data-name="{{ $member->fname }} {{ $member->lname }}"><em class="icon ni ni-chat-circle"></em><span>Send SMS</span></a></li>
                                                                                <li><a href="" class="team-report" data-id="{{ $member->id }}" data-name="{{ $member->fname }} {{ $member->lname }}"><em class="icon ni ni-reports"></em><span>View Report</span></a></li>
                                                                                @if($user->role == "Owner")
                                                                                <li class="divider"></li>
                                                                                <li><a href="" class="send-to-server-click"  data="teamid:{{ $member->id }}" url="{{ url('Team@delete') }}" warning-title="Are you sure?" warning-message="This member's profile and data will be deleted permanently." warning-button="Yes, delete!"><em class="icon ni ni-trash"></em><span>Delete Member</span></a></li>
                                                                                @endif
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr><!-- .nk-tb-item  -->
                                                    @endforeach
                                                    @else
                                                    <tr>
                                                        <td class="text-center" colspan="8">It's empty here!</td>
                                                    </tr>
                                                    @endif
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                @include('includes/footer')
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>


    <!-- Create Modal -->
    <div class="modal fade" tabindex="-1" id="create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-header">
                    <h5 class="modal-title">Create Team Member</h5>
                </div>
                <form class="simcy-form" action="{{ url('Team@create') }}" data-parsley-validate="" method="POST" loader="true">
                    <div class="modal-body">
                        <p>Create a team member account</p>
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">First Name</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control form-control-lg" placeholder="First Name" name="fname" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Last Name</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control form-control-lg" placeholder="Last Name" name="lname" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Phone Number</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control form-control-lg phone-input" placeholder="Phone Number" required="">
                                        <input class="hidden-phone" type="hidden" name="phonenumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Email Address</label>
                                    <div class="form-control-wrap">
                                        <input type="email" class="form-control form-control-lg" placeholder="Email Address" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Role</label>
                                    <div class="form-control-wrap ">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg" name="role">
                                                <option value="Staff">Staff</option>
                                                <option value="Manager">Manager</option>
                                                <option value="Booking Manager">Booking Manager</option>
                                                <option value="Inventory Manager">Inventory Manager</option>
                                                <option value="Owner">Owner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-note"><code>Owner</code> has full access of the system.  <code>Manager</code> have full access but has no delete permissions. <code>Booking Manager</code> books vehicles IN and OUT. <code>Inventory Manager</code> has access to inventory module. <code>Staff</code> have no access to the system.</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Type</label>
                                    <div class="form-control-wrap">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg" name="type">
                                                <option value="Full Time">Full Time</option>
                                                <option value="Part Time">Part Time</option>
                                                <option value="Subcontractor">Subcontractor</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Status</label>
                                    <div class="form-control-wrap">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg" name="status">
                                                <option value="Active">Active</option>
                                                <option value="On Leave">On Leave</option>
                                                <option value="Unavailable">Unavailable</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Address</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control form-control-lg" placeholder="Address" name="address">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button class="btn btn-white btn-dim btn-outline-light" type="button" data-dismiss="modal"><em class="icon ni ni-cross-circle"></em><span>Cancel</span></button>
                        <button class="btn btn-primary" type="submit"><em class="icon ni ni-check-circle-cut"></em><span>Create Member</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" tabindex="-1" id="update">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-header">
                    <h5 class="modal-title">Update Team</h5>
                </div>
                <div class="update-holder"></div>
            </div>
        </div>
    </div>

    <!-- Modal send sms -->
    <div class="modal fade" tabindex="-1" id="sendsms">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-header">
                    <h5 class="modal-title">Send SMS</h5>
                </div>
                <form class="simcy-form" action="{{ url('Marketing@create') }}" data-parsley-validate="" method="POST" loader="true">
                    <div class="modal-body">
                        <p>Create an SMS</p>
                        <div class="row gy-4">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Send To</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control form-control-lg" placeholder="Send To" name="name" required="" readonly="">
                                        <input type="hidden" name="sendto" value="enternumber" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Phone Number</label>
                                    <div class="form-control-wrap ">
                                        <input type="text" class="form-control form-control-lg" name="phonenumber" placeholder="Phone Number" readonly="" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Message</label>
                                    <div class="form-control-wrap">
                                        <textarea class="form-control form-control-lg" placeholder="Message" rows="3" name="message" required=""></textarea>
                                    </div>
                                    <div class="form-note">We'll include your company name <strong>{{ $user->parent->name }}</strong> at the end of the message.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button class="btn btn-white btn-dim btn-outline-light" type="button" data-dismiss="modal"><em class="icon ni ni-cross-circle"></em><span>Cancel</span></button>
                        <button class="btn btn-primary" type="submit"><em class="icon ni ni-check-circle-cut"></em><span>Send Message</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Report Modal -->
    <div class="modal fade" tabindex="-1" id="teamreport">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-header">
                    <h5 class="modal-title">View Report</h5>
                </div>
                <form action="{{ url('Teamreport@view') }}" data-parsley-validate="" method="GET" loader="true">
                    <div class="modal-body">
                        <p>Generate and view report</p>
                        <input type="hidden" name="staff" required="">
                        <div class="row gy-4">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Project</label>
                                    <div class="form-control-wrap ">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg select2" name="project" required="">
                                                <option value="All">All Projects</option>
                                                @if(!empty($projects))
                                                @foreach($projects as $project)
                                                <option value="{{ $project->id }}">{{ carmake($project->make) }} {{ carmodel($project->model) }} - {{ $project->registration_number }}</option>
                                                @endforeach
                                                @endif
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Tasks Status</label>
                                    <div class="form-control-wrap">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg" name="status">
                                                <option value="All">All</option>
                                                <option value="In Progress">In Progress</option>
                                                <option value="Completed">Completed</option>
                                                <option value="Cancelled">Cancelled</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button class="btn btn-white btn-dim btn-outline-light" type="button" data-dismiss="modal"><em class="icon ni ni-cross-circle"></em><span>Cancel</span></button>
                        <button class="btn btn-primary" type="submit"><em class="icon ni ni-check-circle-cut"></em><span>View Report</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- app-root @e -->
    <!-- JavaScript -->
    @include('includes/scripts')
</body>

</html>