@include('includes/head')
<link rel="stylesheet" href="{{ asset('assets/libs/summernote/summernote-lite.min.css') }}" />

<body class="nk-body bg-lighter npc-default has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            @include('includes/sidebar')
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                @include('includes/header')
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">{{ $title }}</h3>
                                            <div class="nk-block-des text-soft">
                                                <p>You are viewing  {{ $supplier->name }}'s report.</p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <ul class="nk-block-tools g-3">
                                                <li>                                                   
                                                 <a href="" class="btn btn-outline-light bg-white d-none d-sm-inline-flex go-back"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                                                    <a href="" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none go-back"><em class="icon ni ni-arrow-left"></em></a>
                                                </li>
                                                <li>
                                                    <div class="drodown">
                                                        <a href="#" class="dropdown-toggle btn btn-dim btn-outline-primary" data-toggle="dropdown"><em class="icon ni ni-more-h"></em> <span>More</span></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <ul class="link-list-opt no-bdr">
                                                                <li><a href="{{ url('Supplierreport@render') }}?supplier={{ $_GET['supplier'] }}&project={{ $_GET['project'] }}&status={{ $_GET['status'] }}" download="{{ $title }}.pdf"><em class="icon ni ni-download-cloud"></em><span>Download</span></a></li>
                                                                <li><a href="{{ url('Supplierreport@render') }}?supplier={{ $_GET['supplier'] }}&project={{ $_GET['project'] }}&status={{ $_GET['status'] }}" target="_blank"><em class="icon ni ni-printer"></em><span>Print</span></a></li>
                                                                <li><a href="" data-toggle="modal" data-target="#supplierreport"><em class="icon ni ni-repeat"></em><span>Regenerate</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="card card-stretch">
                                        <div class="card-inner">
                                        <!-- start document render -->
                                        <div class="document">
                                            <div class="signer-document">
                                                <!-- open PDF docements -->
                                                <div class="document-pagination d-flex justify-content-between">
                                                    <div class="pull-left">
                                                        <a href="" id="prev" class="btn btn-round btn-dim btn-icon btn-sm btn-light btn-viewer"><em class="icon ni ni-chevron-left-circle"></em></a>
                                                        <a href="" id="next" class="btn btn-round btn-dim btn-icon btn-sm btn-light btn-viewer"><em class="icon ni ni-chevron-right-circle"></em></a>
                                                        <span class="text-muted ml-15">Page <span id="page_num">0</span> / <span id="page_count">0</span></span>
                                                    </div>
                                                    <div>
                                                        <a href="" class="btn btn-round btn-dim btn-icon btn-sm btn-light btn-zoom" zoom="plus"><em class="icon ni ni-plus-circle"></em></a>
                                                        <a href="" class="btn btn-round btn-dim btn-icon btn-sm btn-light btn-zoom" zoom="minus"><em class="icon ni ni-minus-circle"></em></a>

                                                    </div>
                                                </div>
                                                <div class="document-load">
                                                    <div class="loader-box">
                                                        <div class="circle-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="document-error">
                                                    <i class="uil uil-info-circle text-danger"></i>
                                                    <p class="text-muted"><strong>Oops! </strong> <span class="error-message"> Something went wrong.</span></p>
                                                </div>
                                                <div class="text-center">
                                                    <div class="document-map"></div>
                                                    <canvas id="document-viewer"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end document render -->
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                @include('includes/footer')
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>

    <!-- Report Modal -->
    <div class="modal fade" tabindex="-1" id="supplierreport">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-header">
                    <h5 class="modal-title">View Report</h5>
                </div>
                <form action="{{ url('Supplierreport@view') }}" data-parsley-validate="" method="GET" loader="true">
                    <div class="modal-body">
                        <p>Generate and view report</p>
                        <input type="hidden" name="supplier" value="{{ $supplier->id }}" required="">
                        <div class="row gy-4">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Project</label>
                                    <div class="form-control-wrap ">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg select2" name="project" required="">
                                                <option value="All">All Projects</option>
                                                @if(!empty($projects))
                                                @foreach($projects as $project)
                                                <option value="{{ $project->id }}">{{ carmake($project->make) }} {{ carmodel($project->model) }} - {{ $project->registration_number }}</option>
                                                @endforeach
                                                @endif
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Delivery Status</label>
                                    <div class="form-control-wrap">
                                        <div class="form-control-select">
                                            <select class="form-control form-control-lg" name="status">
                                                <option value="All">All</option>
                                                <option value="Delivered">Delivered</option>
                                                <option value="Ordered">Ordered</option>
                                                <option value="Awaiting Delivery">Awaiting Delivery</option>
                                                <option value="To Order">To Order</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button class="btn btn-white btn-dim btn-outline-light" type="button" data-dismiss="modal"><em class="icon ni ni-cross-circle"></em><span>Cancel</span></button>
                        <button class="btn btn-primary" type="submit"><em class="icon ni ni-check-circle-cut"></em><span>View Report</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- app-root @e -->
    <!-- JavaScript -->
    @include('includes/scripts')
    <script src="{{ asset('assets/libs/summernote/summernote-lite.min.js') }}"></script>
    <script src="{{ asset('assets/js/pdf.js') }}"></script>

    <script type="text/javascript">

        var pdfDocument = "{{ url('Supplierreport@render') }}?supplier={{ $_GET['supplier'] }}&project={{ $_GET['project'] }}&status={{ $_GET['status'] }}";
        PDFJS.workerSrc = "{{ asset('assets/js/pdf.worker.min.js') }}";

    </script>
    <script src="{{ asset('assets/js/render.js') }}"></script>
</body>

</html>